body {
  background-color: rgb(245, 213, 178);
  margin: 0;
  padding: 0;
}

.parallax {
  /* The image used */
  background-image: url('imgs/Main Logo.png');

  /* Set a specific height */
  height: 1000px; /* Adjust this height according to your needs */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intropara {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

a {
  color: inherit; 
  text-decoration: none; 
}

.learnmorebutton {
  background-color: rgba(248, 184, 89, 0.486);
  color: rgb(114, 87, 87);
  border: none; /* Changed border style */
  border-radius: 5px;
  cursor: pointer;
  /* Effects on hover */
  margin-top: 100px; /* Adjust margin-top to move the button down */
  padding: 10px 20px; /* Added padding for better appearance */
  font-size: 25px;
  text-decoration: none;
  box-shadow: 5px 5px 5px;
  font-family: "ff-more-web-pro", serif;
  font-weight: 600;
  font-style: italic;
}

.learnmorebutton:hover {
  background-color: rgb(207, 164, 119);
}

@keyframes moveForward {
  from {
      transform: scale(1);
      opacity: 0;
  }
  to {
      transform: scale(1.2);
      opacity: 1;
  }
}

.intro {
  animation: moveForward 5s forwards;  
}

.intropara {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.site-footer {
  background-color: #eed8be;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #ccb833;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #1506e5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: auto;
}

.abouttext {
  text-align: center;
  font-family: "Neucha", cursive;
  font-size: 22px;
}

p.one {
  margin-top: 5px;
}

p.two {
  margin-top: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
}

img.img-fluid {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

a.nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hover-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-nav li {
  float: left;
}

.hover-nav li a {
  position: relative;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 0;
}

.hover-nav li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #f8eddf;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.hover-nav li a:hover::before,
.hover-nav li a:focus::before {
  transform: scale(1);
}

.card {
  height: 100%;
}

li.nav-item {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: rgb(114, 87, 87);
}

.tab-pane fade {
  color: pink;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}



.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-snapchat {
  background: #eee455;
  color: white;
}


.fa-instagram {
  background: #d62976;
  color: white;
}

p.copyright-text{ 
margin-top: 30px;
}

btn.btn-primary {
  color: pink;
}

#pickRandomBtn {
  color: rgb(255, 255, 255);
  background-color: coral;
}

#addNameBtn {
  color: rgb(255, 255, 255);
  background-color: coral;
}